input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

table tbody+thead {
    display: none;
}

fieldset.legend-border {
    border: 1px solid black !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    /* -webkit-box-shadow: 0px 0px 0px 0px #ddd;
  box-shadow: 0px 0px 0px 0px #ddd; */
    border-radius: 10px;
}

legend.legend-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
}

.notificationCloseBtn {
    display: none;
}

@media (min-width: 575px) {
    .actionBarIcons {
        display: none
    }
    .scanButton {
        display: none;
    }
}

@media (max-width: 575px) {
    .actionBarBrand {
        /* margin-left: -215px; */
        display: none;
    }
    .actionBarToggler {
        margin-left: -15px
    }
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #000;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #000;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

.top {
    margin-top: 69px;
}