iframe {
    display: none;
}

a {
    color: inherit;
}

.list-group-flush {
    color: #495057;
}

main {
    background-color: #EDEDEE;
}

#content {
    margin-left: 270px;
}

.list-group .active {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.cascading-admin-card .admin-up {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -20px;
}

.cascading-admin-card .admin-up .fa {
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
}

.cascading-admin-card .admin-up .fa {
    padding: 1.7rem;
    font-size: 2rem;
    color: #fff;
    text-align: left;
    margin-right: 1rem;
    border-radius: 3px;
}

.cascading-admin-card .admin-up .data {
    float: right;
    margin-top: 2rem;
    text-align: right;
}

.admin-up .data p {
    color: #999999;
    font-size: 12px;
}

.classic-admin-card .card-body {
    color: #fff;
    margin-bottom: 0;
    padding: 0.9rem;
}

.classic-admin-card .card-body p {
    font-size: 13px;
    opacity: 0.7;
    margin-bottom: 0;
}

.classic-admin-card .card-body h4 {
    margin-top: 10px;
}

@media (max-width: 1199.98px) {
    #content {
        margin-left: 0px;
    }
    .card.cascading-admin-card {
        margin-top: 2.5rem;
    }
}

@media (max-width: 576px) {
    .card.cascading-admin-card {
        margin-top: 2.5rem;
    }
    #breadcrumb {
        flex-direction: column;
    }
}

.nodisplayed {
    display: none;
}

.newButton{
    position: absolute !important
}